### Default template
# system
.DS_Store

# ide
.idea/*

# dependencies
node_modules
yarn-debug.log*
yarn-error.log*

# compiled output
.next
.vercel
coverage
build
dist
out
out-tsc
tmp
.eslintcache
*.tsbuildinfo

# misc
.env.local
.env.*.local
